img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.products-list{
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

/* .box{
    background-color: burlywood;
    width: 28%;
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px white;
} */

h5{
    color: grey;
    text-align: center;
    font-family: 'stylish', sans-serif;
}

p{
    color: white ;
    font-size: .9rem;
}

.product-items{
    background-color: burlywood;
}